<body>
<div class="text-display">
<h2>Disclaimer</h2>
<p>You understand and agree any and all information and insights provided by the Service are machine-generated, and as such should not be taken as investment advice. Due to the automated nature of the Service and reliance on other third party services to receive information, the Company gives no guarantee, express or implied, the information provided by the Service is accurate or timely.</p>
<p>You further understand using the information provided by the Service to make investment decisions is done at your sole discretion and the Company is not liable for any loss as a result of your assumption of such risk.</p>
</div>
</body>
