<nav class="navbar navbar-expand-lg bg-dark" style="padding: 0;">
  <div class="container-fluid">
    <span style="margin-right: 30px;"><img width=30px src="assets/img/logo.png" /></span>
    <a class="navbar-brand nav-text" routerLink="">Stock Sleuth</a>

    <div class="collapse navbar-collapse navbarSupportedContent">
      <ul class="d-flex">
        <li class="nav-item">
          <a class="nav-link active link-text" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-text" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-text" routerLink="/help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-text" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-text" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-text" routerLink="/signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
