a.link-text {
    color: white;
    font-size: 16px;
    position: relative;
}

.footerSocial {
    flex-direction: row-reverse;
}

.onhover:hover {
  color: #BB0A21;
}

.footerClass {
  bottom: 0;
  width: 100%;
  margin-top: auto;
  position: fixed;
}
