<footer class="fixed-bottom navbar navbar-expand-lg bg-dark footer py-3">
    <div class="d-flex container-fluid">
        <ul class="d-flex">
            <li class="nav-item">
                <a class="nav-link link-text" href="#">Terms of Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-text" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-text" href="#">Disclaimer</a>
            </li>
        </ul>

        <div class="footerSocial">
            <ul class="d-flex">
                <li class="nav-item">
                    <a class="nav-link link-text" href="#">Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-text" href="#">Reddit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-text" href="#">Slack</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-text" href="#">Discord</a>
                </li>
            </ul>
        </div>
    </div>
</footer>