<div class="login-component">
  <mat-card class="login-card">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <h4 class="head">Welcome Back, Stock Slut!</h4>
      <p>Sign in to your account below. Don't have one? <a href="/signup">Register here.</a><p>
      <mat-form-field>
        <input
          matInput
          ngModel
          name="email"
          type="email"
          placeholder="Email"
          #emailInput="ngModel"
          required
          email/>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email address.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          ngModel
          name="password"
          type="password"
          placeholder="Password"
          #passwordInput="ngModel"
          required/>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid email password.</mat-error>
      </mat-form-field>
      <br>
      <br>
      <button
        mat-raised-button
        [color]="color"
        (mouseover)="color='warn'"
        (mouseout)="color='primary'"
        type="submit"
        *ngIf="!isLoading">
        Login
      </button>
    </form>
  </mat-card>
</div>
