h3 {
  color: white;
  text-align: center;
  padding-top: 50px;
}

/* Rounded table corners */
th:first-of-type {
  border-top-left-radius: 1rem;
}
th:last-of-type {
  border-top-right-radius: 1rem;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 1rem;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 1rem;
}

/* Alternating table row colors */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #D3D4D9;
}

.overview {
  margin-top: 25px;
  width:80%;
  margin-left:10%
}
