h3 {
  color: white;
  text-align: center;
  padding-top: 50px;
}

.holdersChart {
  color:red;
  text-align: center;
  padding-top: 50px;
  background: white;
  height:70vh;
  border-radius: 1rem;
  animation: bounce 0.5s ease-in forwards;
}

.holdersFunction {
  color:red;
  text-align: center;
  padding-top: 50px;
  background: #D3D4D9;
  height:70vh;
  border-radius: 1rem;
  animation: bounce 0.8s ease-in forwards;
}
