<body>
  <div class="container-fluid body">
    <div class="row view">
      <div class="col-lg-2 side-search">
        <form class="d-flex" style="margin-top: 15px">
          <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div><br>
          <h6>Recent Searches:</h6>
          <mat-expansion-panel *ngFor="let search of searches" style="margin: 3px auto">
            <mat-expansion-panel-header class="hoverSearch">
                {{ search.ticker }}
            </mat-expansion-panel-header>
            <div class="description">
              <p>Company Name:
                {{ search.description }}
              </p>
              <p>High:
                {{ search.high }}
              </p>
              <p>Low:
                {{ search.low }}
              </p>
            </div>
          </mat-expansion-panel>
        </div><br>
        <p class="info-text mat-body-1" *ngIf="searches.length <= 0 && !isLoading">No recent searches to display.</p>
      </div>

      <div class="col-lg-10 main-display">
        <h1 style="color: white; text-align: center; margin-top: 50px">
          main-display works!
        </h1>
      </div>
    </div>
  </div>
</body>
