mat-spinner, .mat-progress-spinner circle, .mat-spinner circle {
  margin: auto;
  stroke: #BB0A21 !important;
}

.main-display {
  background-color: #123353;
}

.view {
  background-color: #D3D4D9;
  height: 100vh;
}

.side-search {
  padding-top: 15px;
}

.info-text {
  text-align: center;
}

.tab-text {
  color: white;
  text-align: center;
}

/* SAVED FOR LATER
add [@.disabled]="true" to mat-tab-group in chart-display.html
for fade animation.
For regular Angular swiping animation, remove the above
& comment through @keyframes code below
*/

.mat-tab-body.mat-tab-body-active {
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mat-tab-body-wrapper .mat-tab-body-content {
  overflow-x: hidden;
  height: 80vh;
}

.mat-tab-label, .mat-tab-label-active {
  color: white !important;
  font-size: 14px;
}

.mat-tab-header-pagination-chevron {
  border-color: #D3D4D9 !important
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background: #BB0A21;
  height: 3px;
}

.mat-tab-header.mat-tab-header {
  border-color: #BB0A21;
}

h3 {
  color: white;
  text-align: center;
}

h6 {
  text-align: center;
}

.mat-expansion-panel {
  background-color: #252627;
  color: white;
}

.mat-expansion-indicator::after {
  color: white;
}

.hoverSearch:hover {
  background: #BB0A21 !important;
}

.description {
  margin: 15px auto;
}

.iconStyle {
  padding: 0;
  transition: 0.2s;
}

.iconStyle:hover {
  color:#BB0A21;
  transform: scale(1.25) !important;
  cursor: pointer;
}

.saveButton {
  color: #BB0A21;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.firstRow {
  margin-bottom: 1rem;
  height: 5%;
}

.sideRow {
  height:48%;
  overflow: auto;
}

  .sideRow::-webkit-scrollbar {
    /* width */
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    /* Track */
    box-shadow: inset 0 0 5px grey;
    border-left: 3px #D3D4D9 solid;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    /* Handle */
    background: #BB0A21;
    border-left: 3px #D3D4D9 solid;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: #970a1d;
  }

  .sideRow.savedRow {
    height: 30%
  }
