.main-display {
  background-color: #123353;
}

.view {
  background-color: #D3D4D9;
  height: 100vh;
}

.side-search {
  padding-top: 15px;
}

.info-text {
  text-align: center;
}

h6 {
  text-align: center;
}

.mat-expansion-panel {
  background-color: #252627;
  color: white;
}

.mat-expansion-indicator::after {
  color: white;
}

.hoverSearch:hover {
  background: #BB0A21 !important;
}

.description {
  margin: 15px auto;
}

mat-spinner {
  margin: auto;
}
