html, body, main {
  background-color: #123353;
  margin: 0;
  height:100vh;
  width:100vw;
}

.side-search {
  background-color: #d3d4d9;
}

.main-display {
  color: white;
  background-color: #123353;
}

