html, body, main {
  background-color: #123353;
}

* {
  box-sizing: border-box;
}

.side-search {
  background-color: #d3d4d9;
}

.main-display {
  color: white;
  background-color: #123353;
}

.text-display {
  color: white;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 120px;
  text-shadow: 2px 2px 4px #000000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

}

