<div class="icons inputContainer">
  <fa-icon id="graphIcon" [icon]="faGraph" size="2x" class="iconStyle chartIcon active" (click)="graphLines()"></fa-icon>
  <fa-icon id="candleIcon" [icon]="faBar" size="2x" class="iconStyle candleIcon" (click)="graphCandles()"></fa-icon>
</div>
<div class="iconText">
  <h5>Add Indicators</h5>
</div>
<div class="inputContainer">
  <select class="data-input">
    <option value="sma">SMA</option>
    <option value="ema">EMA</option>
    <option value="wma">WMA</option>
    <option value="dema">DEMA</option>
    <option value="tema">TEMA</option>
    <option value="williams">Williams</option>
    <option value="rsi">RSI</option>
    <option value="adx">ADX</option>
    <option value="stdDev">STD</option>
  </select>
  <input type="text" class="data-input" placeholder="Days">
  <input type="color" class="data-input" value="#BB0A21">
  <button id="draw-btn" class="data-input">Draw</button>
  <button id="save-btn">Save</button>
</div>
<div class="iconText">
  <h5>Compare a Stock</h5>
</div>
<div class="inputContainer">
  <input type="text" class="data-input" placeholder="Ticker">
  <input type="color" class="data-input" value="#BB0A21">
  <button id="compare-btn" class="data-input">Add</button>
</div>
<div class="iconText">
  <h5>Legend</h5>
</div>
