<div style="margin-top:30px"></div>

<div *ngIf="searchList && (searchList.length > 0); else saved" >
  <h3>Recent Searches</h3>
  <br>
  <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config"></plotly-plot>
</div>

<ng-template #saved>
  <div *ngIf="(savedList && (savedList.length > 0)); else noCharts" >
    <h3>Saved Searches from {{ savedList[0].data.dates[savedList[0].data.dates.length-1] }}</h3>
    <br>
    <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config"></plotly-plot>
  </div>
</ng-template>

<ng-template #noCharts>
  <h3 style="margin-top:25%">No recent charts to display!</h3>
  <h6 style="color: white;"> Search for a Ticker to continue</h6>
</ng-template>
