<div style="margin-top:30px"></div>

<div *ngIf="searchList && (searchList.length > 0); else saved">
  <mat-tab-group mat-align-tabs="end" [@.disabled]="true">
    <mat-tab label="Prices">
      <br>
      <h3>Recent Searches</h3>
      <br>
      <div class="row" style="margin-left:0px">
        <div class="col-lg-2 chartFunction">
          <div id="faIcon" class="icons inputContainer">
            <fa-icon id="graphIcon" [icon]="faGraph" size="2x" class="iconStyle chartIcon active" (click)="graphLines()"></fa-icon>
            <fa-icon id="candleIcon" [icon]="faBar" size="2x" class="iconStyle candleIcon" (click)="graphCandles()"></fa-icon>
          </div>
          <div class="iconText">
            <h5>Add Indicators</h5>
          </div>
          <div class="inputContainer">
            <select class="data-input">
              <option value="sma">SMA</option>
              <option value="ema">EMA</option>
              <option value="wma">WMA</option>
              <option value="dema">DEMA</option>
              <option value="tema">TEMA</option>
              <option value="williams">Williams</option>
              <option value="rsi">RSI</option>
              <option value="adx">ADX</option>
              <option value="stdDev">STD</option>
            </select>
            <input type="text" class="data-input" placeholder="Days">
            <input type="color" class="data-input" value="#BB0A21">
            <button id="draw-btn" class="data-input">Draw</button>
            <button id="save-btn">Save</button>
          </div>
          <div class="iconText">
            <h5>Compare a Stock</h5>
          </div>
          <div class="inputContainer">
            <input type="text" class="data-input" placeholder="Ticker">
            <input type="color" class="data-input" value="#BB0A21">
            <button id="compare-btn" class="data-input">Add</button>
          </div>
          <div class="iconText">
            <h5>Legend</h5>
          </div>
        </div>
        <div class="col-lg-10">
          <plotly-plot [data]="graph[0].data" [layout]="graph[1].layout" [config]="graph[0].config"></plotly-plot>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Overview">
      <app-overview-tab></app-overview-tab>
    </mat-tab>
    <mat-tab label="Sentiment">
      <app-sentiment-tab></app-sentiment-tab>
    </mat-tab>
    <mat-tab label="Articles">
      <app-articles-tab></app-articles-tab>
    </mat-tab>
    <mat-tab label="Holders">
      <app-holders-tab></app-holders-tab>
    </mat-tab>
    <mat-tab label="Filings">
      <app-filings-tab></app-filings-tab>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #saved>
  <div *ngIf="(savedList && (savedList.length > 0)); else noCharts" >
    <mat-tab-group mat-align-tabs="end" [@.disabled]="true">
      <mat-tab label="Prices">
        <br>
        <h3>Saved Searches from {{ savedList[0].data.dates[savedList[0].data.dates.length-1] }}</h3>
        <br>
        <div class="row" style="margin-left:0px">
          <div class="col-lg-2 chartFunction">
            <div id="faIcon" class="icons inputContainer">
              <fa-icon id="graphIcon" [icon]="faGraph" size="2x" class="iconStyle chartIcon active" (click)="graphLines()"></fa-icon>
              <fa-icon id="candleIcon" [icon]="faBar" size="2x" class="iconStyle candleIcon" (click)="graphCandles()"></fa-icon>
            </div>
            <div class="iconText">
              <h5>Add Indicators</h5>
            </div>
            <div class="inputContainer">
              <select class="data-input">
                <option value="sma">SMA</option>
                <option value="ema">EMA</option>
                <option value="wma">WMA</option>
                <option value="dema">DEMA</option>
                <option value="tema">TEMA</option>
                <option value="williams">Williams</option>
                <option value="rsi">RSI</option>
                <option value="adx">ADX</option>
                <option value="stdDev">STD</option>
              </select>
              <input type="text" class="data-input" placeholder="Days">
              <input type="color" class="data-input" value="#BB0A21">
              <button id="draw-btn" class="data-input">Draw</button>
              <button id="save-btn">Save</button>
            </div>
            <div class="iconText">
              <h5>Compare a Stock</h5>
            </div>
            <div class="inputContainer">
              <input type="text" class="data-input" placeholder="Ticker">
              <input type="color" class="data-input" value="#BB0A21">
              <button id="compare-btn" class="data-input">Add</button>
            </div>
            <div class="iconText">
              <h5>Legend</h5>
            </div>
          </div>
          <div class="col-lg-10">
            <plotly-plot [data]="graph[0].data" [layout]="graph[1].layout" [config]="graph[0].config"></plotly-plot>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Overview">
        <app-overview-tab></app-overview-tab>
      </mat-tab>
      <mat-tab label="Sentiment">
        <app-sentiment-tab></app-sentiment-tab>
      </mat-tab>
      <mat-tab label="Articles">
        <app-articles-tab></app-articles-tab>
      </mat-tab>
      <mat-tab label="Holders">
        <app-holders-tab></app-holders-tab>
      </mat-tab>
      <mat-tab label="Filings">
        <app-filings-tab></app-filings-tab>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-template>

<ng-template #noCharts>
  <h3 style="margin-top:25%">No recent charts to display!</h3>
  <h6 style="color: white;"> Search for a Ticker to continue</h6>
</ng-template>
