<h1 style="color: white; text-align: center; margin-top: 50px">
  Chart display works!
</h1><br>

<div *ngIf="searches.length > 0 && !isLoading">
  <div *ngFor="let search of (searches | slice: searches.length - 1)" style="text-align:center; color: white; margin: 3px auto">
    <p>Ticker:
      {{ searches[searches.length-1].ticker }}
    </p>
    <p>Company Name:
      {{ searches[searches.length-1].description }}
    </p>
    <!-- <p>
      Most Recent High:
      {{ searches[0].priceData.highs[searches[0].priceData.highs.length-1] }}
    </p>
    <p>
      Most Recent Low:
      {{ searches[0].priceData.lows[searches[0].priceData.lows.length-1] }}
    </p>
    <p>Date of Most Recent Data Pull:
      {{ searches[0].priceData.dates[searches[0].priceData.dates.length-1] }}
    </p>
    <p>
      isSubmitted state:
      {{ searches[0].isSubmitted }}
    </p> -->
  </div><br>
  <!-- <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config"></plotly-plot> -->
</div>

<h3 style="color:white; text-align: center;" *ngIf="searches.length <= 0 && !isLoading">No recent charts to display!</h3>

