<!-- Side search bar -->
<!-- Utilized in the Main Display Component -->

<!-- This component will be very important to the
    overall scope of the project, with respect to
    data handling and presentation
-->

<div class="firstRow">
  <form [formGroup]="searchForm" (ngSubmit)="onAddSearch(searchForm)" class="d-flex">
    <mat-form-field appearance="outline">
      <mat-label>Ticker Symbol</mat-label>
      <input
      matInput
      [formControl]="searchControl"
      formControlName="search"
      placeholder="Search"
      [matAutocomplete]="auto"
      />
    </mat-form-field>
    <mat-card-actions>
      <button class="btn btn-outline-success submitButton">Search</button>
    </mat-card-actions>
  </form>
  <mat-error *ngIf="(searchForm.get('search').invalid && isSubmitted) || isInvalid">Please enter a valid ticker</mat-error>
</div>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option.symbol">
    {{ option.symbol }}&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;{{option.name}}
  </mat-option>
</mat-autocomplete>

<h6>Recent Searches:</h6>
<div class="sideRow" style="height:38%">
  <div>
    <mat-expansion-panel *ngFor="let search of searchList" style="margin: 3px auto">
      <mat-expansion-panel-header class="hoverSearch">
        {{ search.ticker }}
      </mat-expansion-panel-header>
      <div class="description">
        <p>Company Name:
          {{ search.description }}
        </p>
        <p>High:
          {{ search.high }}
        </p>
        <p>Low:
          {{ search.low }}
        </p>
      </div>
      <div>
        <fa-icon [icon]="faRemove" size="2x" class="iconStyle" style="float: left;" (click)="deleteSearch(search.ticker)"></fa-icon>
        <fa-icon [icon]="faGraph" size="2x" class="iconStyle" style="float: right;" (click)="graphSearch(search.ticker)"></fa-icon>
      </div>
    </mat-expansion-panel>
  </div><br>
  <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>
  <h6 class="info-text mat-body-1" *ngIf="!searchList || (searchList.length == 0 && !isLoading)"><br>No recent searches to display!</h6>

</div>

<div class="info-text saveButton">
  <button mat-stroked-button [disabled]="!searchList || (searchList.length == 0)" (click)="onClearSearch()">Clear Searches</button>
  <button style="margin-left: 3px;" mat-stroked-button [disabled]="!searchList || (searchList.length == 0)" (click)="onSaveSearch()">Save Searches</button>
</div>

<h6 style="margin-top: 15px;">Saved Searches:</h6>
<div class="sideRow savedRow">
  <div>
    <mat-expansion-panel *ngFor="let x of savedList" style="margin: 3px auto">
      <mat-expansion-panel-header class="hoverSearch">
        {{ x.ticker }}
      </mat-expansion-panel-header>
      <div class="description">
        <p>Company Name:
          {{ x.description }}
        </p>
        <p>High:
          {{ x.high }}
        </p>
        <p>Low:
          {{ x.low }}
        </p>
      </div>
      <div>
        <fa-icon [icon]="faRemove" size="2x" class="iconStyle" style="float: left;" (click)="deleteSaved(x.ticker)"></fa-icon>
        <fa-icon [icon]="faGraph" size="2x" class="iconStyle" style="float: right;" (click)="graphSaved(x.ticker)"></fa-icon>
      </div>
    </mat-expansion-panel>
  </div>
  <h6 class="info-text mat-body-1" *ngIf="!savedList || (savedList.length == 0)"><br>No saved searches to display!</h6>
</div>

<div class="info-text savedRowButton">
  <button mat-stroked-button [disabled]="!savedList || (savedList.length == 0)" (click)="onClearSaved()">Clear Saved</button>
</div>
