h3 {
  color: white;
  text-align: center;
  padding-top: 50px;
}

.articleSentiment {
  color:red;
  text-align: center;
  padding-top: 50px;
  background: #D3D4D9;
  height:35vh;
  border-radius: 1rem;
  animation: bounce 0.3s ease-in forwards;
}

.articles {
  color:red;
  text-align: center;
  padding-top: 50px;
  background: white;
  height:calc(70vh + 15px);
  border-radius: 1rem;
  animation: bounce 0.7s ease-in forwards;
}

.termFreq {
  color:red;
  text-align: center;
  padding-top: 50px;
  background: #D3D4D9;
  height:35vh;
  border-radius: 1rem;
  animation: bounce 1s ease-in forwards;
}

@keyframes bounce {
  50% {
    transform: scale(1.01);
    opacity: 1;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}
