<h3>articles-tab works!</h3>

<!-- <h3 *ngIf="searchList.length > 0; else checkSaved">
  Current Search:
  <br>
  {{ overviewData[0].value }}
  </h3>

<ng-template #checkSaved>
  <h3 *ngIf="savedList.length > 0; else noSearch">
    Current Search:
    <br>
    <p></p>
    {{ overviewData[0].value }}
    </h3>
</ng-template>

<ng-template #noSearch>
  <h3>No recent searches to display!</h3>
</ng-template> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6" style="padding-right:0">
      <div class="articleSentiment">Article Sentiment Here</div>
      <div class="termFreq" style="margin-top:15px">Term Frequency Chart Here</div>
    </div>
    <div class="col-xl-6">
      <div class="articles">News Articles Here</div>
    </div>
  </div>
</div>
